# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\maikiencuong\Documents\intelij\bai-tap-lon-kien-truc-thiet-ke-pm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
